set timeout=0
set default=0

# QEMU: -vga std cihazı GRUB'un gfxterm'ini destekliyor
# Hem QEMU hem VBox/VMware için çalışan ayar:
insmod all_video
set gfxmode=1024x768x32,800x600x32,auto
set gfxpayload=keep

menuentry "LightOS 2 Pro" {
    multiboot /boot/kernel.bin
    boot
}
